.p-5.mt-4.bg-light.rounded-3.shadow-sm
  .row
    .col.text-center 
      %h2= t('.general_title')
  .row.mt-3
    .col
      %button.w-100.btn.btn-lg.btn-outline-primary= t('.find_doctor')
    .col 
      %button.w-100.btn.btn-lg.btn-outline-primary= t('.login_as_doctor')
    .col
      %button.w-100.btn.btn-lg.btn-outline-primary= t('.login_as_pacient')
.p-3.mt-3.mb-3.bg-light.rounded-3.shadow-sm
  .row
    .col.text-center 
      %h2= t('.popular_categories')
  .row.pt-3.pb-3
    - @categories.each do |category|
      .col 
        .card.text-center.shadow-sm
          %a.pop-queries{href: "/doctors/29219-kyyiv/20-terapevt"}
            %p.mt-2
              %span
                = image_tag(category.image_url(:small), size: '50') if category.image
            %p.text-center.mx-1= category.title
