.bg-light.py-5.my-2
  %h2.text-center.text-primary= t('.page_title')
.mb-4
  .row
    .col-12
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name),
                        data: { turbo: false }, html: { method: :patch, class: 'general-form-md' }) do |f|
        .row.g-4.justify-content-md-center
          .col-3
            .card.p-2.m-2
              = f.label :image, t('.select_avatar'), class: 'form-label image-label'
              = f.hidden_field :image, value: f.object.cached_image_data
              = f.file_field :image, hint: ((image_tag f.object.image_url, size: '50') if f.object.image)
              - if f.object.image
                .avatar-preview.m-3.p-3= image_tag(f.object.image_url(:small))
              = f.full_error :image
          .col-8
            .row.g-3
              .col-12
                = f.label :phone_number, t('.enter_phone_number'), class: 'form-label phone-number-label'
                = f.input_field :phone_number, autocomplete: 'phone_number',
                                id: 'phone_number', class: 'form-control', placeholder: t('.enter_phone_number')
                = f.full_error :phone_number, class: 'text-danger'
              .col-12
                = f.label :name, t('.enter_name'), class: 'form-label name-label'
                = f.input_field :name, autocomplete: 'name', id: 'name',
                                class: 'form-control', placeholder: t('.enter_name')
                = f.full_error :name, class: 'text-danger'
              .col-12
                = f.label :expirience, t('.enter_expirience'), class: 'form-label expirience-label'
                = f.input_field :expirience,  autocomplete: 'expirience', id: 'expirience',
                                class: 'form-control', placeholder: t('.enter_expirience')
                = f.full_error :expirience, class: 'text-danger'
              .col-12
                = f.label :description, t('.enter_description'), class: 'form-label description-label'
                = f.input_field :description,  autocomplete: 'description', id: 'description',
                                class: 'form-control', placeholder: t('.enter_description')
                = f.full_error :description, class: 'text-danger'
              .col-12
                = f.label :workplace, t('.enter_workplace'), class: 'form-label workplace-label'
                = f.input_field :workplace,  autocomplete: 'workplace', id: 'workplace',
                                class: 'form-control', placeholder: t('.enter_workplace')
                = f.full_error :workplace, class: 'text-danger'
              .col-12
                = f.label :workplace_address, t('.enter_workplace_address'),
                          class: 'form-label workplace-address-label'
                = f.input_field :workplace_address,  autocomplete: 'workplace_address', id: 'workplace_address',
                                class: 'form-control', placeholder: t('.enter_workplace_address')
                = f.full_error :workplace_address, class: 'text-danger'
              .col-12
                = f.label :current_password, t('.enter_old_password'),
                          class: 'form-label current-password-label'
                = f.input_field :current_password,  autocomplete: 'current_password', id: 'current_password',
                                class: 'form-control', placeholder: t('.password_required'), type: 'password'
                = f.full_error :current_password, class: 'text-danger'
              .col-12
                = f.label :password, t('.enter_new_password'),
                          class: 'form-label workplace-address-label'
                = f.input_field :password,  autocomplete: 'password', id: 'password',
                                class: 'form-control', placeholder: t('.password_required'), type: 'password'
                = f.full_error :password, class: 'text-danger'
              .col-12.text-center
                = link_to t('.back'), :back, class: 'btn btn-primary'
                = f.submit t('.save'), class: 'btn btn-primary mb-35 save-btn'
