%table.table
  %thead
    %tr
      %th{scope: "col"}= t('.number')
      %th{scope: "col"}= t('.pacient_name')
      %th{scope: "col"}= t('.created_date')
      %th{scope: "col"}= t('.action')
  %tbody
    - appointments.each do |appointment|
      %tr
        %th{scope: "row"}= appointment.id
        %td= appointment.user.name
        %td= appointment.created_at.strftime('%R %B %d, %Y')
        - if request.params[:status] == 'active' 
          %td= link_to 'Give a prescription', edit_doctors_appointment_path(appointment), class: 'btn btn-link'
        - if request.params[:status] == 'closed' 
          %td= link_to 'Show a prescription', doctors_appointment_path(appointment), class: 'btn btn-link'
