%footer.navbar-inverse.bg-light
  .container
    .row
      .col-sm-9
        %ul.list-inline.general-align.mb-25
          %li
            = link_to t('.home'), '#', class: 'nav-link'
          %li
            = link_to t('.shop'), '#', class: 'nav-link'
          -# if user_signed_in?
            %li= link_to t('.orders'), #, class: 'orders-link nav-link'
            %li= link_to t('.settings'), #, class: 'settings-link nav-link'
      .col-sm-3
        %p.general-nav-mail= t('.support_email')
        %p.general-nav-number= t('.support_phone_number')
        %ul.list-inline.general-align#social_buttons
          %li
            %a.nav-link{href: "#"}
              %i.fa.fa-facebook{'aria-hidden': "true"}
          %li
            %a.nav-link{href: "#"}
              %i.fa.fa-twitter{'aria-hidden': "true"}
          %li
            %a.nav-link{href: "#"}
              %i.fa.fa-google-plus{'aria-hidden': "true"}
          %li
            %a.nav-link{href: "#"}
              %i.fa.fa-instagram{'aria-hidden': "true"}
