.col-10
  - doctors.each do |doctor|
    .row.doctor_card.my-4.bg-white.py-3.shadow-sm.border.rounded
      .col-3.d-inline-block
        = image_tag doctor.main_image, class: 'img-shadow mw-100 general-thumbnail-img', alt: 'design-doctor'
      .col-9
        %p.name= doctor.name
        %p.category= doctor.category.title
        %p.experience= t('.expirience', count: doctor.expirience) if doctor.expirience
        %p.description= doctor.description
        %p.workplace= doctor.workplace
        %p.worplace-address= doctor.workplace_address
        - if user_signed_in?
          =link_to t('.book_appointment'), '#', class: 'btn btn-primary'
