.row.doctor-card.my-4.bg-white.py-3.shadow-sm.border.rounded
  .col-3.d-inline-block
    = image_tag doctor.main_image, class: 'img-shadow mw-100 general-thumbnail-img', alt: 'design-doctor'
  .col-9
    - if doctor_signed_in?
      %p.phone_number= doctor.phone_number
    %p.name= doctor.name
    %p.category= doctor.category.title
    %p.experience= t('.expirience', count: doctor.expirience) if doctor.expirience
    %p.description= doctor.description
    %p.workplace= doctor.workplace
    %p.workplace-address= doctor.workplace_address
    - if user_signed_in?
      = button_to t('.book_appointment'), users_appointments_path(doctor_id: doctor.id),
        class: 'btn btn-primary'

