!!!
%html
  = render 'partials/head'
  
  %body
    %main
      = render 'partials/header', cached: true
      .container
        = render 'partials/flash_messages'
        = yield
      = render 'partials/footer', cached: true
